@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --cor-primaria: #000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #24D4FD;
    --cor-quartenaria: #0000FF; 
    --cor-hover: #272727;
    
    --font-primaria: "Montserrat", "sans-serif";
    --font-secundaria: "Krona One", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}
.cabecalho {
    padding: 2% 0% 0% 15%
}
.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: "Montserrat", "sans-serif";
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.titulo-destaque {
    color: var(--cor-terciaria);
} 

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.0rem;
    font-family: "Krona One", sans-serif;
}

.apresentacao__links__subtitulo {
    font-family: "Krona One", "sans-serif";
    font-weight: 400;
}
.apresentacao__conteudo__texto {
    font-family: "Montserrat", sans-serif;
    font-size: 1.4rem;
}

.apresentacao__links {
    padding: 10px 20px;
    font-size: 1rem;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__link {
    display: flex;
    justify-content: center;
    text-decoration: none;
    border: 2px solid var(--cor-terciaria);
    /* background-color: #12caf3; */
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 18.5px 0px;
    color: var(--cor-secundaria); 
    font-family: "Montserrat", sans-serif;
    
}

.apresentacao__links__link:hover {
    border: 2px solid var(--cor-quartenaria);
    cursor: pointer;
    background-color: var(--cor-hover);
}
.apresentacao__imagem {
    width: 25%;
}

.rodape {
        padding: 10px;
        color: var(--cor-primaria);
        background-color: var(--cor-terciaria);
        text-align: center;
        font-family: "Montserrat", "sans-serif";
        font-size: 1.5rem;
        font-weight: 400;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    @media (max-width:1200px) {
        .cabecalho {
            padding: 10%;
        }

        .cabecalho__menu{
            justify-content: center;
        }
        .apresentacao {
            flex-direction: column-reverse;
            padding: 5%;
        }
        .apresentacao__conteudo{
            width: auto;
        }
    }
    
